## filter()

In [2]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
filter(None, "hello")

In [4]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [5]:
list(filter(None, [1, 2, 0, 3.14, True, False, 0.0, "Techpro"]))  #sadece true olanların çıktısınız verdi

[1, 2, 3.14, True, 'Techpro']

In [16]:
def find_odds(x):

    if x % 2:
        return True
    else:
        return False

In [8]:
find_odds(6)

False

In [9]:
find_odds(7)

True

In [12]:
list(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [13]:
tuple(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [17]:
def find_evens(x):

    if x % 2:
        return False
    else:
        return True

In [18]:
list(filter(find_evens, [0,1,2,3,4,5,6,7,8,9]))

[0, 2, 4, 6, 8]

In [8]:
isimler_listesi = ["Serhat", "Sedat", "Metehan", "Bahar", "Cennet", "Bilge"]

In [20]:
def len_5(x):

    if len(x) == 5: return True

In [21]:
len_5("seda")

In [24]:
list(filter(len_5, isimler_listesi))

['Sedat', 'Bahar', 'Bilge']

In [11]:
def find_armstrong3(x):
    
    x = str(x)

    uzunluk = len(x)                            #HOCANIN CEVAP

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [12]:
find_armstrong3(40)

In [14]:
list(filter(find_armstrong3, range(10,1000001)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

In [ ]:
def pozitif_sayı(x):

### lambda()

In [31]:
def kareler_toplamı(x,y): return x**2 + y**2

In [32]:
kareler_toplamı(3,4)

25

In [1]:
lambda x, y: x**2 + y**2

In [2]:
(lambda x,y: x**2 + y**2)(3,4)

25

In [10]:
(lambda x,y: x**2 + y**2)(3)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [3]:
(lambda x,y:
    x**2 + y**2)(3,4)

25

In [11]:
def len_5(x):
    if len(x) == 5: return True

In [12]:
(lambda x: len(x) == 5)("sedat")

True

In [13]:
(lambda x: len(x) == 5)("utku")

False

In [14]:
list(filter((lambda x: len(x) == 5), isimler_listesi))

['Sedat', 'Bahar', 'Bilge']

In [15]:
set(filter((lambda x: len(x) == 5), isimler_listesi))

{'Bahar', 'Bilge', 'Sedat'}

lambda ile içerisine aldığı str yi tersten yazdırsın

In [17]:
(lambda kelime : str(kelime) [::-1])("zehra")

'arhez'

In [20]:
(lambda x: x[::-1])("Zehra")

'arheZ'

In [21]:
(lambda x: x[::-1])("ey edip adanada pide ye") #polindrom mu?

'ey edip adanada pide ye'

In [22]:
(lambda x: x[::-1] == x)("ey edip adanada pide ye")

True

In [24]:
(lambda x: x[::-1] == x)("nazan")

True

In [25]:
(lambda x: x[::-1] == x)("zehra")

False

In [ ]:
import pandas as

In [26]:
pip install pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\zehra\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
conda install pandas

In [3]:
import pandas as pd  #pandası import et pd yi assign et

C:\Users\Zehra\AppData\Local\Temp\ipykernel_20744\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_csv("adult_eda.csv")

In [5]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [8]:
df.sex.apply(lambda x:0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
(lambda x: x **2 if x% 2 else x * 2)(23)

529

In [12]:
(lambda x: x **2 if x% 2 else x * 2)(20)

40